# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_LLM_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

#Supabase / postgreSQL
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.your-project-id.supabase.co:5432/postgres

# Redis
REDIS_URL=redis://redis:6379

# Jira Service Management
JSM_BASE_URL=https://your-domain.atlassian.net
JSM_USER_EMAIL=your_email@example.com
JSM_API_TOKEN=your_jsm_api_token_here
JSM_DEFAULT_AGENT_ID=your_agent_account_id_here

# Confluence
CONFLUENCE_BASE_URL=https://your-domain.atlassian.net/wiki
CONFLUENCE_USER_EMAIL=your_email@example.com
CONFLUENCE_API_TOKEN=your_confluence_api_token_here
CONFLUENCE_SPACE_KEYS=GLOBAL,AR,BR,UY,USA

# App
APP_ENV=development
APP_PORT=8000